<section class="log-sign">

<div class="form-log">
  <p style="color:red">{{error}}</p>
  <div>
  <h6 style="text-align: center">Entrar</h6>
  </div>
{{#if next}}
<form action="/login?next={{next}}" method="post">
{{else}}
<form action="/login" method="post">
{{/if}}
  <p>
    <i class="small material-icons">email</i>
    Email
    <input type="email" name="email" required>
  </p>
  <p>
    <i class="small material-icons">lock</i>
    Password
    <input name="password" type="password" required>
  </p>
  <button class="waves-effect waves-light btn" type="submit">Entrar</button>
</form>

<p>
<a href="/facebook/login" class="waves-effect waves-light btn-large indigo darken-2"><i class="fa fa-facebook"></i> Entra con Facebook</a>
</p>

<p style="text-align: center; color:rgb(0, 0, 0)"><a href="/signup">Crear cuenta</p></a>
</div>


 </section>
