
<div class="admin-list">
  <h3><a href="/admin/cities/">Cities</a></h3>
  <p><a href="/admin/cities/new">Add new</a></p>
</div>
<div class="admin-list">
  <h3><a href="/admin/places/">Places</a></h3>
  <p><a href="/admin/places/new">Add new</a></p>
</div>
<div class="admin-list">
  <h3><a href="/admin/users/">Users</a></h3>
  <p><a href="/admin/users/new">Add new</a></p>
</div>
<div class="admin-list">
  <h3><a href="/admin/comments/">Comments</a></h3>
</div>