
<div class="admin-list">
  <h3>Cities</h3>
  <p><a href="/admin/cities/new">Add new</a></p>
</div>
<div class="admin-list">
  <h3>Places</h3>
  <p><a href="/admin/places/new">Add new</a></p>
</div>
<div class="admin-list">
  <h3>Users</h3>
  <p><a href="/admin/users/new">Add new</a></p>
</div>