
<h2>{{cityname}}</h2>
<img{{city.photoURL}}>

<section class="cont-detail">
<div id="map">
</div>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script>
    mapboxgl.accessToken = "pk.eyJ1IjoiZGFuaWVsYXpyIiwiYSI6ImNqczF4a29xMjF5c3E0M28zdjdmbGtuOGYifQ.qi5aM2jCWVOdO6quS6IqFQ";
const map = new mapboxgl.Map({
container: "map",
style: "mapbox://styles/mapbox/streets-v11",
zoom: 12,
center:[{{address.coordinates}}]
})

map.addControl(new mapboxgl.NavigationControl());

const marker = new mapboxgl.Marker({
    color:'green'
})
.setLngLat([{{address.coordinates}}])
.addTo(map)
</script>

<div class="id-card">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img style="50vw" src='/images/unam_portada_ciudad_universitaria.jpg'>
          <h2 class="card-ttl">Tips</h2>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">To website</a>
        </div>
      </div>
    </div>
</div>
</section>