<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
   <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css' type='text/css' />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
</head>
<body>
   <nav>
    <div id="logo">
      <a href="/">Comer vegano</a>
    </div>
    <div class="search">
      <form action="">
      <input type="text" placeholder="Que estas buscando?">
      <input type="submit" value="ðŸ”">
      </form>
   </div>
    </div>
    {{#if logged}}
    <div class="menu">
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
    </div>
    {{else}}
    <div class="menu">
      <a href="/">Home</a>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
    </div>
    {{/if}}
  </nav>
  <section>
  {{{body}}}
</section>
<footer>Esto es el footer</footer>
  <script src="/javascripts/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>