<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
   <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
   <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css' type='text/css' />
   <link rel="stylesheet" href="/stylesheets/style.css" />
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
   <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> 
</head>
<body>
   <nav>
    <div id="logo">
      <a id="page-name" href="/">Comer vegano</a>
    </div>
    <div class="search">
      <form action="">
      <input type="text" placeholder="Que estas buscando?">
      <input type="submit" value="ðŸ”">
      </form>
   </div>
    </div>
    {{#if logged}}
    <div class="menu">
      <a href="/">Home</a>
      <a href="/profile">Profile</a>
      <a href="/logout">Logout</a>
    </div>
    {{else}}
    <div class="menu">
      <a href="/">Home</a>
      <a href="/signup">Signup</a>
      <a href="/login">Login</a>
    </div>
    {{/if}}
  </nav>
  <section>
  {{{body}}}
</section>
<div class="fot-body fot-main">
  <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">More info</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#">Twitter</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Â© 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
        </div>
{{!-- <footer>Esto es el footer</footer> --}}
  <script src="/javascripts/script.js"></script>
  {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script> --}}
</body>
</html>