<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.0/mapbox-gl-geocoder.css'
    type='text/css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Neucha" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper green lighten-1">
        <a href="/" class="brand-logo">Comer vegano</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li>
            <div class="center row">
              <div class="col s12">
                <div class="row">
                  <div class="input-field col s6 s12">
                    <form action="/search" method="POST">
                    <i class="material-icons prefix text-white">search</i>
                    <input class="text-white" type="text" name="query" placeholder="Buscar">
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
          {{#if logged}}
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
          <li><a href="/logout">Logout</a></li>
          {{else}}
          <li><a href="/">Home</a></li>
          <li><a href="/signup">Signup</a></li>
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
  <ul class="sidenav" id="mobile-demo">
    <li>
      <i class="material-icons prefix text-white">search</i>
      <input class="text-white" type="text" placeholder="Buscar">
    </li>
    {{#if logged}}
    <li><a href="/">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
    {{else}}
    <li><a href="/">Home</a></li>
    <li><a href="/signup">Signup</a></li>
    <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>

  <section>
    {{{body}}}
  </section>
  <footer class="page-footer">
    <div class="container-fot">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Sobre nosotros</h5>
          <p class="grey-text text-lighten-4"><a href="/privacidad">Politica de privacidad</a></p>
          <p class="grey-text text-lighten-4"><a href="/terminos">Terminos y condiciones</a></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Join us</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/pg/Comer-vegano-2297617963819669/">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
    <i class="fa fa-heart" id="like"></i> CDMX
    </div>
  </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>