<div class="admin">
  <h2>TÉRMINOS DE SERVICIO</h2>

  <h4>INFORMACIÓN GENERAL</h4>

  <p>Este sitio web es operado por Comer Vegano. En todo el sitio, los términos “nosotros”, “nos” y “nuestro” se refieren a
  Comer Vegano. Comer Vegano ofrece este sitio web, incluyendo toda la información, herramientas y servicios disponibles
  para ti en este sitio, el usuario, está condicionado a la aceptación de todos los términos, condiciones, políticas y
  notificaciones aquí establecidos.</p>

  <p>Al visitar nuestro sitio y/o comprar algo de nosotros, paticipas en nuestro “Servicio” y aceptas los siguientes
  términos y condiciones (“Términos de Servicio”, “Términos”), incluídos todos los términos y condiciones adicionales y
  las polítias a las que se hace referencia en el presente documento y/o disponible a través de hipervínculos. Estas
  Condiciones de Servicio se aplican a todos los usuarios del sitio, incluyendo si limitación a usuarios que sean
  navegadores, proveedores, clientes, comerciantes, y/o colaboradores de contenido.</p>

  <p>Por favor, lee estos Términos de Servicio cuidadosamente antes de acceder o utilizar nuestro sitio web. Al acceder o
  utilizar cualquier parte del sitio, estás aceptando los Términos de Servicio. Si no estás de acuerdo con todos los
  términos y condiciones de este acuerdo, entonces no deberías acceder a la página web o usar cualquiera de los
  servicios. Si las Términos de Servicio son considerados una oferta, la aceptación está expresamente limitada a estos
  Términos de Servicio.</p>

  <p>Cualquier función nueva o herramienta que se añadan a la tienda actual, tambien estarán sujetas a los Términos de
  Servicio. Puedes revisar la versión actualizada de los Términos de Servicio, en cualquier momento en esta página. Nos
  reservamos el derecho de actualizar, cambiar o reemplazar cualquier parte de los Términos de Servicio mediante la
  publicación de actualizaciones y/o cambios en nuestro sitio web. Es tu responsabilidad chequear esta página
  periódicamente para verificar cambios. Tu uso contínuo o el acceso al sitio web después de la publicación de cualquier
  cambio constituye la aceptación de dichos cambios.</p>

  <p>Nuestra tienda se encuentra alojada en Shopify Inc. Ellos nos proporcionan la plataforma de comercio electrónico en
  línea, que nos permite venderte nuestros productos y servicios.</p>


  <h5>SECCIÓN 1 - TÉRMINOS DE LA TIENDA EN LÍNEA</h5>

  <p>Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado o provincia de residencia, o que
  tienes la mayoría de edad en tu estado o provincia de residencia y que nos has dado tu consentimiento para permitir
  que cualquiera de tus dependientes menores use este sitio.</p>

  No puedes usar nuestros productos con ningún propósito ilegal o no autorizado tampoco puedes, en el uso del Servicio,
  violar cualquier ley en tu jurisdicción (incluyendo pero no limitado a las leyes de derecho de autor).

  No debes transmitir gusanos, virus o cualquier código de naturaleza destructiva.

  El incumplimiento o violación de cualquiera de estos Términos darán lugar al cese inmediato de tus Servicios.


    <h5>SECCIÓN 2 - CONDICIONES GENERALES</h5>

  Nos reservamos el derecho de rechazar la prestación de servicio a cualquier persona, por cualquier motivo y en
  cualquier momento.

  Entiendes que tu contenido (sin incluir la información de tu tarjeta de crédito), puede ser transferida sin encriptar
  e involucrar (a) transmisiones a través de varias redes; y (b) cambios para ajustarse o adaptarse a los requisitos
  técnicosde conexión de redes o dispositivos. La información de tarjetas de crédito está siempre encriptada durante la
  transferencia a través de las redes.

  Estás de acuerdo con no reproducir, duplicar, copiar, vender, revender o explotar cualquier parte del Servicio, usp
  del Servicio, o acceso al Servicio o cualquier contacto en el sitio web a través del cual se presta el servicio, sin
  el expreso permiso por escrito de nuestra parte.

  Los títulos utilizados en este acuerdo se icluyen solo por conveniencia y no limita o afecta a estos Términos.


  <h5>SECCIÓN 3 - EXACTITUD, EXHAUSTVIDAD Y ACTUALIDAD DE LA INFORMACIÓN</h5>

  No nos hacemos responsables si la información disponible en este sitio no es exacta, completa o actual. El material en
  este sitio es provisto solo para información general y no debe confiarse en ella o utilizarse como la única base para
  la toma de decisiones sin consultar primeramente, información más precisa, completa u oportuna. Cualquier dependencia
  em el materia de este sitio es bajo su propio riesgo.

  Este sitio puede contener cierta información histórica. La información histórica, no es necesriamente actual y es
  provista únicamente para tu referencia. Nos reservamos el derecho de modificar los contenidos de este sitio en
  cualquier momento, pero no tenemos obligación de actualizar cualquier información en nuestro sitio. Aceptas que es tu
  responsabilidad de monitorear los cambios en nuestro sitio.

  <h5>SECTION 4 - MODIFICACIONES AL SERVICIO Y PRECIOS</h5>

  Los precios de nuestros productos están sujetos a cambio sin aviso.

  Nos reservamos el derecho de modificar o discontinuar el Servicio (o cualquier parte del contenido) en cualquier
  momento sin aviso previo.

  No seremos responsables ante ti o alguna tercera parte por cualquier modificación, cambio de precio, suspensión o
  discontinuidad del Servicio.


  <h5>SECCIÓN 9 - COMENTARIOS DE USUARIO, CAPTACIÓN Y OTROS ENVÍOS</h5>

  Si, a pedido nuestro, envías ciertas presentaciones específicas (por ejemplo la participación en concursos) o sin un
  pedido de nuestra parte envías ideas creativas, sugerencias, proposiciones, planes, u otros materiales, ya sea en
  línea, por email, por correo postal, o de otra manera (colectivamente, 'comentarios'), aceptas que podamos, en
  cualquier momento, sin restricción, editar, copiar, publicar, distribuír, traducir o utilizar por cualquier medio
  comentarios que nos hayas enviado. No tenemos ni tendremos ninguna obligación (1) de mantener ningún comentario
  confidencialmente; (2) de pagar compensación por comentarios; o (3) de responder a comentarios.

  Nosotros podemos, pero no tenemos obligación de, monitorear, editar o remover contenido que consideremos sea
  ilegítimo, ofensivo, amenazante, calumnioso, difamatorio, pornográfico, obsceno u objetable o viole la propiedad
  intelectual de cualquiera de las partes o los Términos de Servicio.

  Aceptas que tus comentarios no violarán los derechos de terceras partes, incluyendo derechos de autor, marca,
  privacidad, personalidad u otro derechos personal o de propiedad. Asimismo, aceptas que tus comentarios no contienen
  material difamatorio o ilegal, abusivo u obsceno, o contienen virus informáticos u otro malware que pudiera, de alguna
  manera, afectar el funcionamiento del Srvicio o de cualquier sitio web relacionado. No puedes utilizar una dirección
  de correo electrónico falsa, usar otra identidad que no sea legítima, o engañar a terceras partes o a nosotros en
  cuanto al origen de tus comentarios. Tu eres el único responsable por los comentarios que haces y su precisión. No nos
  hacemos responsables y no asumimos ninguna obligación con respecto a los comentarios publicados por ti o cualquier
  tercer parte.


  <h5>SECCIÓN 10 - INFORMACIÓN PERSONAL</h5>

  Tu presentación de información personal a través del sitio se rige por nuestra Política de Privacidad. Para ver
  nuestra Política de Privacidad.


  <h5>SECCIÓN 11 - ERRORES, INEXACTITUDES Y OMISIONES</h5>

  De vez en cuando puede haber información en nuestro sitio o en el Servicio que contiene errores tipográficos,
  inexactitudes u omisiones que puedan estar relacionadas con las descripciones de productos, precios, promociones,
  ofertas, gastos de envío del producto, el tiempo de tránsito y la disponibilidad. Nos reservamos el derecho de
  corregir los errores, inexactitudes u omisiones y de cambiar o actualizar la información o cancelar pedidos si alguna
  información en el Servicio o en cualquier sitio web relacionado es inexacta en cualquier momento sin previo aviso
  (incluso después de que hayas enviado tu orden) .

  No asumimos ninguna obligación de actualizar, corregir o aclarar la información en el Servicio o en cualquier sitio
  web relacionado, incluyendo, sin limitación, la información de precios, excepto cuando sea requerido por la ley.
  Ninguna especificación actualizada o fecha de actualización aplicada en el Servicio o en cualquier sitio web
  relacionado, debe ser tomada para indicar que toda la información en el Servicio o en cualquier sitio web relacionado
  ha sido modificado o actualizado.


  <h5>SECCIÓN 12 - USOS PROHIBIDOS</h5>

  En adición a otras prohibiciones como se establece en los Términos de Servicio, se prohibe el uso del sitio o su
  contenido: (a) para ningún propósito ilegal; (b) para pedirle a otros que realicen o partiicpen en actos ilícitos; (c)
  para violar cualquier regulación, reglas, leyes internacionales, federales, provinciales o estatales, u ordenanzas
  locales; (d) para infringir o violar el derecho de propiedad intelectual nuestro o de terceras partes; (e) para
  acosar, abusar, insultar, dañar, difamar, calumniar, desprestigiar, intimidar o discriminar por razones de género,
  orientación sexual, religión, tnia, raza, edad, nacionalidad o discapacidad; (f) para presentar información falsa o
  engañosa; (g) para cargar o transmitir virus o cualquier otro tipo de código malicioso que sea o pueda ser utilizado
  en cualquier forma que pueda comprometer la funcionalidad o el funcionamientodel Servicio o de cualquier sitio web
  relacionado, otros sitios o Internet; (h) para recopilar o rastrear información personal de otros; (i) para generar
  spam, phish, pharm, pretext, spider, crawl, or scrape; (j) para cualquier propósito obsceno o inmoral; o (k) para
  interferir con o burlar los elementos de seguridad del Servicio o cualquier sitio web relacionado¿ otros sitios o
  Internet. Nos reservamos el derecho de suspender el uso del Servicio o de cualquier sitio web relacionado por violar
  cualquiera de los ítems de los usos prohibidos.


  <h5>SECCIÓN 14 - INDEMNIZACIÓN</h5>

  Aceptas indemnizar, defender y mantener indemne Comer Vegano y nuestras matrices, subsidiarias, afiliados, socios,
  funcionarios, directores, agentes, contratistas, concesionarios, proveedores de servicios, subcontratistas,
  proveedores, internos y empleados, de cualquier reclamo o demanda, incluyendo honorarios razonables de abogados,
  hechos por cualquier tercero a causa o como resultado de tu incumplimiento de las Condiciones de Servicio o de los
  documentos que incorporan como referencia, o la violación de cualquier ley o de los derechos de u tercero.

  <h5>SECCIÓN 15 - DIVISIBILIDAD</h5>

  En el caso de que se determine que cualquier disposición de estas Condiciones de Servicio sea ilegal, nula o
  inejecutable, dicha disposición será, no obstante, efectiva a obtener la máxima medida permitida por la ley aplicable,
  y la parte no exigible se considerará separada de estos Términos de Servicio, dicha determinación no afectará la
  validez de aplicabilidad de las demás disposiciones restantes.


  <h5>SECCIÓN 16 - RESCISIÓN</h5>

  Las obligaciones y responsabilidades de las partes que hayan incurrido con anterioridad a la fecha de terminación
  sobrevivirán a la terminación de este acuerdo a todos los efectos.

  Estas Condiciones de servicio son efectivos a menos que y hasta que sea terminado por ti o nosotros. Puedes terminar
  estos Términos de Servicio en cualquier momento por avisarnos que ya no deseas utilizar nuestros servicios, o cuando
  dejes de usar nuestro sitio.

  Si a nuestro juicio, fallas, o se sospecha que haz fallado, en el cumplimiento de cualquier término o disposición de
  estas Condiciones de Servicio, tambien podemos terminar este acuerdo en cualquier momento sin previo aviso, y seguirás
  siendo responsable de todos los montos adeudados hasta incluída la fecha de terminación; y/o en consecuencia podemos
  negarte el acceso a nuestros servicios (o cualquier parte del mismo).

  <h5>SECCIÓN 17 - ACUERDO COMPLETO</h5>

  Nuestra falla para ejercer o hacer valer cualquier derecho o disposiciôn de estas Condiciones de Servicio no
  constituirá una renucia a tal derecho o disposición.

  Estas Condiciones del servicio y las políticas o reglas de operación publicadas por nosotros en este sitio o con
  respecto al servicio constituyen el acuerdo completo y el entendimiento entre tu y nosotros y rigen el uso del
  Servicio y reemplaza cualquier acuerdo, comunicaciones y propuestas anteriores o contemporáneas, ya sea oral o
  escrita, entre tu y nosotros (incluyendo, pero no limitado a, cualquier versión previa de los Términos de Servicio).

  Cualquier ambigüedad en la interpretación de estas Condiciones del servicio no se interpretarán en contra del grupo de
  redacción.


  <h5>SECCIÓN 18 - LEY</h5>

  Estas Condiciones del servicio y cualquier acuerdos aparte en el que te proporcionemos servicios se regirán e
  interpretarán en conformidad con las leyes de c/la torre n1-3 esc 1 1B, Barcelona, CT, 08700, Spain.


  <h5>SECCIÓN 19 - CAMBIOS EN LOS TÉRMINOS DE SERVICIO</h5>

  Puedes revisar la versión más actualizada de los Términos de Servicio en cualquier momento en esta página.

  Nos reservamos el derecho, a nuestra sola discreción, de actualizar, modificar o reemplazar cualquier parte de estas
  Condiciones del servicio mediante la publicación de las actualizaciones y los cambios en nuestro sitio web. Es tu
  responsabilidad revisar nuestro sitio web periódicamente para verificar los cambios. El uso contínuo de o el acceso a
  nuestro sitio Web o el Servicio después de la publicación de cualquier cambio en estas Condiciones de servicio implica
  la aceptación de dichos cambios.

</div>