// @media only screen and (min-width: 0){

// }
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
body a {
  text-decoration: none;
  color: #000000; 
}
// FORMS
input {
  padding: 5px 10px;
  border-radius: 5px;
  height: 30px;
  border: none;
  background-color: rgba(177, 190, 190, 0.356);
  transition: 0.4s ease all;
}

input:focus {
  background-color: #69c0a3;
}

input[type="file"] {
  width: 100%;
  height: 30px;
}

// NAV BAR
.nav-wrapper{
  padding: 0 0 0 20px;
}
nav .brand-logo {
  font-size: 1.6rem;
}

nav a, footer a {
  color: #FFF;
}
nav div {
  margin: 0 auto;
}

nav input[type=text] {
  width: 60%;
  padding: 0 20px;
}
nav input[type=text]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}

.searcherDan{
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: center;
  width: auto;
  justify-content: space-between;
}
#btn-search{
  color: white;
  background-color: #48555c;
  align-content: flex-start;
  border: 1px #2f383d ;
  width: 80px;
}

// HEADER
header{
  width: 100%;
  height: 300px;
  background-size: cover;
  opacity: 0.6;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}
header h2 {
  opacity: 1;
}
header > * {
  width: 100%;
}
#rating {
width: 100px;
height: 60px;
background-color: rgb(37, 184, 56);
border-radius: 10px;
padding: 5px;
margin: 0 auto;
font-size: 1.4rem;
line-height: 1;
}
#rating > p{
  font-size: 0.8rem;
}
#page-name{
  display: flex;
  text-align: center;
}

// BODY CONTAINER




// FOOTER

.fot-body {
  display: flex;
  min-height: 100vh;
  font-size:2em;
  flex-direction: column;
  height: 60px;
  width: 100%;
  background-color: #5dbb8f;
  padding: 10px 40px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #FFF;
}

.fot-main {
  flex: 1 0 auto;
}
.page-footer{
  background-color: #4a9773;
}


//CITY
.city-title{
  background-color: #9ab1c0a9;
  position: absolute;
  padding: 20px;
  color:white;
  font-weight: bold;
  cursor:pointer;
  font-size: 0.8rem;
  font-family: "Lucida Grande";
  font-size: .7em;
  transition: all .3s ease;
  outline: none;
  border: none;
  padding: 10px 30px;
  height: 50px;
  width:250px;
}

.button.hover{
  opacity: 3;
}

.nav-btn{
  border:solid #48555c;
  position: relative;
  border: none;
  border-radius: 20px;
  height: 30px;
  cursor: pointer;
  font-family: Avenir;
  font-size: 1 em;
  transition: all .3s ease;
  outline: none;
  z-index: -1;
}

.nav-btn.hover{
  opacity: 7;
  z-index: -1
}
#map{
  width:50%;
  height:500px;
  z-index: -1;
}

.cover{
  margin:0px;;
  padding: none;
  width: 100vw;
  height: 88vh;
}
.cov-all {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color:rgb(83, 80, 80);
  font-family: Avenir;
  font-size: 1.5em;
  }
.imgs-cities{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 570px;
  height: 300px;
  margin:30px;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

.imgs-cities button:hover{
  opacity: .5;
}


h3{
  font-family: Avenir;
  font-size: 1.5em;
  color:rgb(57, 83, 100);
}


// PLACE
.place-nav{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}
.card-panel {
  margin: 0;
  padding: 12px;
}
.place-nav div{
  width: 25%;
  text-align: center;
  border-right: 1px #ccc solid;
}
.place-nav a{
  transition: 0.4s ease all;
}
.place-nav a:hover{
  color: #fff;
}
.place-nav i{
  font-size: 1.2rem;
  padding: 0 5px;
}

.place-container {
  width: 80%;
  margin: 0 auto;
}

.place-container > div {
  padding: 20px;
  margin: 20px 0px;
  background-color: #FFCF75;
}
.place-column-50, .place-container .map {
  width: 50%;
}

.place-new-comment{
margin: 20px;
}
#place-comment {
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
}
#place-comment:nth-child(even) {
  background-color: #fff3e0;
}
#place-comment:nth-child(odd) {
  background-color: #ffffff;
}
.place-comment-profile {
  padding: 20px;
}
.place-comment-content img{
  width: 50%;
}
#social > ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
// ADMIN
.admin {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.admin-list {
  width: 25%;
}
.block {
  border: 2px #c7ed95 dashed;
  padding: 10px 20px;
  margin: 10px 0px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.block p, .block input {
  margin: 10px;
}
.block > div {
  width: 50%;
}
.admin #map {
  width: 200px;
  height: 200px;
}

.admin-places-card{
  border: 1px solid #ccc;
  display: flex;
}
.admin-places-card img{
  width: 100px;
  height: 100px;
}

.addPicContainer{
  width: 100%;
}

// CITIES

.city-title{
  display:flex;
  align-items: flex-start;
  justify-content: center; 
  font-size:1em;
}
.nav-btn{
  border:solid #48555c;
  position: relative;
  border: none;
  border-radius: 20px;
  height: 30px;
  cursor: pointer;
  font-family: Avenir;
  font-size: 1 em;
  transition: all .3s ease;
  outline: none;
}

// UNIQUE STYLES
// FB Connect

html{
  margin : 0;
  padding:0;
}
a {
  text-decoration: none;
}




//LOGIN


.log-sign{
  background-image: url('https://i.dietdoctor.com/es/wp-content/uploads/2017/12/DD_90_KF_swide2.jpg?auto=compress%2Cformat&w=1600&h=617&fit=crop');
  background-size: 100vw 100vh;
  background-position: 0;
  background-repeat: no-repeat;
  opacity:0.75;
  display:flex;
  align-items:center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin: 0 80px 0 80;
  // padding: 80px;
}
.form-log{
  justify-content: space-around;
  margin: 100px;
  padding:70px;
  border-radius: 40px;
  background-color: rgba(178, 193, 194, 0.85);
}

.btn-input{
  width:100%;
  justify-content: space-around;
  border-radius: 5px;
  height: 30px;
  border: none;
  color:white;
  background-color: rgba(60, 63, 63, 0.356);
  transition: 0.4s ease all;
}
.btn-input.hover{
  color:rgb(104, 245, 212);
  opacity: .8;
}

.loginBtn {
  box-sizing: border-box;
  position: relative;
  margin: 80px;
  padding: 0 15px 0 46px;
  border: none;
  text-align: center;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: white;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(255, 255, 255, 0.1);
}

.loginBtn--facebook {
  color:white;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
  padding: 0px;
  margin-top: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

//DETAIL
#cover-detail{
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont-detail{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.id-card{
  color:rgb(58, 86, 102);
}

.container {
  width: 80%;
  margin: 0 auto;
}

#fotos {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
}
.material-placeholder{
  width: 45%;
}

#fotos img{
  width: 100%;
  padding: 5px;
}
.city-title-det{
  top: 150px;
  background-color: #6d7e8aa9;
  position: absolute;
  padding: 20px;
  color:white;
  font-weight: bold;
  cursor:pointer;
  font-size: 0.8rem;
  font-family: "Lucida Grande";
  font-size: 2em;
  transition: all .3s ease;
  outline: none;
  border: none;
  padding: 10px 30px;
  height: 150px;
  width:450px;
}
.cover-img-det{
  display:flex;
  justify-content: center;
  align-content: center;
  background-size: cover;
  width: 100%;
  height: 300px;

}
// header{
//   width: 100%;
//   height: 300px;
//   background-size: cover;
//   opacity: 0.6;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   align-content: center;
//   text-align: center;
// }
// header h2 {
//   opacity: 1;
// }
// header > * {
//   width: 100%;
// }

// .imgs-cities{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 570px;
//   height: 300px;
//   margin:30px;
//   background-position: center; 
//   background-repeat: no-repeat; 
//   background-size: cover;
// }


// MOBILE SCREEN SIZE
@media screen and (max-width: 480px) {
.place-nav-menu {
  display: none;
}
.place-nav i {
  font-size: 2rem;
}
.material-placeholder{
  width: 100%;
}
}

h5{
  // font-size: 3em;
  color:rgb(71, 71, 71);
  background: none;
  width: 20%;
  height: 80px;
}